<!DOCTYPE html>
<html>
<head>
  <title>EngineTest</title>
  <%= stylesheet_link_tag    "engine_test/application", :media => "all" %>
  <%= javascript_include_tag "engine_test/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
